img.cell{
    width:30px; /* you can use % */
    height: 30px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px; 
    display: block;
    margin-left: auto;
    margin-right: auto
}
table.board{
    border-collapse: collapse;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

table.exchangeDropZone{
    border-collapse: collapse;
    margin: 0;
    position:absolute;
    top: 50%;
    left: 10%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

td.col.ng-scope{
    width:34px;
    height: 34px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px; 
    border: 1px solid black;
}

tr.row.ng-scope{
    height: 30px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px; 
    border: 1px solid black;
}

table.cards{
    border-collapse: collapse;
    margin: 0;
    position:absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

td.cards.ng-scope{
    width:90px;
    height: 90px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px; 
    border: 1px solid black;
}

tr.cards.ng-scope{
    height: 90px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px; 
}

img.card{
    width:90px; /* you can use % */
    height: 90px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px; 
    display: block;
    margin-left: auto;
    margin-right: auto
}

table.players{
    border-collapse: collapse;
    margin: 0;
    position:absolute;
    top: 20%;
    left: 90%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}

td.players{
    width:50px;
    height: 20px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px; 
    border: 1px solid black;
}

tr.players{
    height: 50px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px; 
    border: 1px solid black;
}

img.player{
    width:50px; /* you can use % */
    height: 50px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px; 
    display: block;
    margin-left: auto;
    margin-right: auto
}