/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 24, 2015, 11:04:43 PM
    Author     : Edi
*/

.center {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px; 
}
table.welcome{
    border-collapse: collapse;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    transform: translate(-50%, -50%)
}

td.welcome{
    height: 30px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px; 
    border: 1px solid black;
}

btn{
    width:30px; /* you can use % */
    height: 30px;
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 0px; 
    display: block;
    margin-left: auto;
    margin-right: auto
}

img{
    width:500px; /* you can use % */
    height: 200px;
    padding-top: 100px; 
    display: block;
    margin-left: -15%;
}