<!doctype html>
<html lang="en">
  <head >
  <meta charset="UTF-8">
  <title>Scrabble</title>
  

  <script src="script/angular.min.js"></script>
  <script src="script/angular-route.js"></script>
  <script src="script/mainApp.js"></script>
  <script src="script/eventsManager.js"></script>
  <script src="script/boardManager.js"></script>
  <script src="script/cardsManager.js"></script>
  <script src="script/playersManager.js"></script>
  <script src="script/ngDraggable.js"></script>
  <script src="script/ngDialog.js"></script>
  <script src="script//jquery-2.0.3.min.js"></script>
  <link href="css/game.css" rel="stylesheet" type="text/css">
  <link href="css/dragdrop.css" rel="stylesheet" type="text/css">
  <link href="css/ngDialog.css" rel="stylesheet" type="text/css">
  <link href="css/ngDialog-theme-default.css" rel="stylesheet" type="text/css">
  <link href="css/ngDialog-theme-plain.css" rel="stylesheet" type="text/css">
  <link href="css/notifier.css" rel="stylesheet" type="text/css">

  <script type="text/javascript" src="script/notifier.js"></script>
</head>
<body >
  <div ng-app="mainApp" ng-controller="MainController">
      <table class ="exchangeDropZone">
          <td >
            <div  ng-drop="true" ng-drop-success="exchangeBucket.onDrop($data,$evt)" >
                <img class="card" ng-src='icons/{{exchangeBucket.value}}.png'>
                EXCHANGE BUCKET
            </div>
        </td>
      </table>
    <table class="board">
        <tr class="row" ng-repeat='row in board track by $index'>
            <td class="col" ng-repeat='cell in row track by $index'>
                <div ng-drop="cell.dropable == 'true' " ng-drop-success="cell.onDrop($data,$evt)" >
                    <img class="cell" ng-src='icons/{{cell.value}}.png'>
                </div>
            </td>
      </tr>
    </table>
    <table class="cards">
        <tr class="cards" >
            <td >
                <button class="btn" ng-click="replace()" ng-disabled="shouldLock.status == 'yes' ">Exchange</button>
            </td>
            <td>
                <button class="btn" ng-click="pass()" ng-disabled="shouldLock.status == 'yes' ">Pass</button>
            </td>
            <td class="cards" ng-repeat='card in clientCards track by $index'>
                <div ng-drag="card.dragable == 'true' && shouldLock.status == 'no' " ng-drag-data="{{card}}" ng-drag-success="card.onDrag($data,$event)">
                    <img class="card" ng-src='icons/{{card.value}}.png'>
                </div>
            </td>
            <td >
                <button class="btn" ng-click="submit()" ng-disabled="shouldLock.status == 'yes' ">Submit</button>
            </td>
            <td >
                <button class="btn" ng-click="reset()" ng-disabled="shouldLock.status == 'yes' ">Reset</button>
            </td>
      </tr>
    </table>
    <table class="players">
        <tr class="players" ng-repeat='player in players track by $index'>
            <td class="players"  style="background-color: {{player.background}};">
                <img class="player" ng-src='icons/{{player.type}}.png'>
            </td>
            <td class="players" >
                {{player.name}}   
            </td>
            <td class="players" >
                score: {{player.score}}   
            </td>
        </tr>
    </table>
 </div>
</body>
</html>
